<section id="login">
  <div id="login-caption">
    <div id="container" class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center">
          <h1 class="display-3">Login to your account</h1>
          <div class="info-form">
            <br><br>
            <form [formGroup]="form" class="justify-content-center" (submit)="login()">
              <div class="input-group mb-2" [class.has-error]="form.get('username').dirty && form.get('username').invalid">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user"></i></div>
                </div>
                <input type="email" formControlName="username" class="form-control" placeholder="Email address">
              </div>
              <div class="row" *ngIf="form.get('username').dirty && form.get('username').invalid">
                <div class="col-12">
                  <div class="alert alert-danger alert-transparent-left" role="alert" *ngIf="form.get('username').dirty && form.controls['username'].hasError('required')">
                    The email address is required
                  </div>
                  <div class="alert alert-danger alert-transparent-left" role="alert" *ngIf="form.get('username').dirty && form.get('username').hasError('email')">
                    Please enter a valid email address
                  </div>
                </div>
              </div>
              <div class="input-group mb-2" [class.has-error]="form.get('password').dirty && form.get('password').invalid">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-unlock-alt"></i></div>
                </div>
                <input type="password" formControlName="password" class="form-control" placeholder="Password">
              </div>
              <div class="row" *ngIf="form.get('password').dirty && form.get('password').invalid">
                <div class="col-12">
                  <div class="alert alert-danger alert-transparent-left" role="alert" *ngIf="form.get('password').dirty && form.get('password').hasError('required')">
                    The password is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <a href="#" class="btn btn-secondary-outline btn-sm text-left float-left" role="button">Forgot your password?</a>
                </div>
              </div>
              <mat-spinner [diameter]="75" *ngIf="loading"></mat-spinner>
              <button type="submit" class="btn btn-secondary-outline btn-lgb login-btn" [disabled]="form.invalid || loading">
                <img src="assets/images/icons/login.png" alt="Login" />
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>