#login {
    .input-group {
        .input-group-prepend {
            .input-group-text {
                i {
                    font-size: 25px;
                }
            }
        }
        input {
            font-size: 15px;
            height: 60px;
            line-height: 60px;
        }
    }
    .login-btn {
        img {
            width: 48px;
        }
    }
    mat-spinner {
        position: absolute;
        left: calc(50% - 38px);
        top: calc(100% - 70px);
    }
}