<!-- Forgot password section -->
<section id="forgot-password">

  <!-- Forgot password caption -->
  <div id="forgot-password-caption">

    <!-- Forgot password container -->
    <div id="container" class="container">
      
      <div class="row">

        <div class="col-sm-6 offset-sm-3 text-center">

          <h1 class="display-3">{{ 'FORGOT_PASSWORD.TITLE' | translate }}</h1>

          <div class="info-form">

            <br><br>

            <!-- Forgot password form -->
            <form [formGroup]="form" class="justify-content-center" (submit)="forgot()">

              <!-- Username field -->
              <div class="input-group mb-2" [class.has-error]="form.get('username').dirty && form.get('username').invalid">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user"></i></div>
                </div>
                <input type="email" formControlName="username" class="form-control" [placeholder]="'FORGOT_PASSWORD.FIELDS.EMAIL' | translate">
              </div>
              <!-- ./Username field -->
              
              <!-- Username field validations container -->
              <div class="row" *ngIf="form.get('username').dirty && form.get('username').invalid">
                <div class="col-12">
                  <div class="alert alert-danger alert-transparent-left" role="alert" *ngIf="form.get('username').dirty && form.controls['username'].hasError('required')">
                    {{ 'FORGOT_PASSWORD.ERROR.EMAIL.REQUIRED' | translate }}
                  </div>
                  <div class="alert alert-danger alert-transparent-left" role="alert" *ngIf="form.get('username').dirty && form.get('username').hasError('email')">
                      {{ 'FORGOT_PASSWORD.ERROR.EMAIL.VALID' | translate }}
                  </div>
                </div>
              </div>
              <!-- ./Username field validations container -->

              <!-- Forgot password link -->
              <div class="row">
                <div class="col-12">
                  <a [routerLink]="['/auth/login']" class="btn btn-secondary-outline btn-sm text-left float-left" role="button">{{ 'FORGOT_PASSWORD.LINKS.LOGIN' | translate }}</a>
                </div>
              </div>
              <!-- ./Forgot password link -->

              <!-- Forgot password in progress indicator -->
              <mat-spinner [diameter]="75" *ngIf="loading"></mat-spinner>
              <!-- ./Forgot password in progress indicator -->

              <!-- Form submit button -->
              <button type="submit" class="btn btn-secondary-outline btn-lgb forgot-password-btn" [disabled]="form.invalid || loading">
                <img src="assets/images/icons/forgot-password.png" alt="Forgot password" />
              </button>
              <!-- ./Form submit button -->
              
            </form>
            <!-- ./Forgot password form -->

          </div>

        </div>

      </div>

    </div>
    <!-- ./Forgot password container -->

  </div>
  <!-- ./Forgot password caption -->

</section>
<!-- ./Forgot password section -->