<!-- Breadcrumb -->
<nav>
  <ol class="breadcrumb breadcrumb-custom">
    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">{{ 'ROLES.BREAD_CRUMBS.HOME' | translate }}</a></li>
    <li class="breadcrumb-item"><a>{{ 'ROLES.BREAD_CRUMBS.SECURITY' | translate }}</a></li>
    <li class="breadcrumb-item active"><span>{{ 'ROLES.BREAD_CRUMBS.ROLES' | translate }}</span></li>
  </ol>
</nav>
<!-- ./Breadcrumb -->

<div class="row">

  <div class="col-12 grid-margin stretch-card">

    <div class="card">

      <div class="card-body">

        <!-- Page title -->
        <h4 class="card-title">
            {{ 'ROLES.CONTENT.TITLE' | translate }}
          <a class="btn btn-sm btn-primary float-right" (click)="initSave(saveModal)"><i class="mdi mdi-plus"></i> {{ 'ROLES.CONTENT.BUTTONS.ADD' | translate }}</a>
        </h4>
        <!-- ./Page title -->

        <div class="table-responsive datatable-container">

          <!-- Roles table -->
          <table class="table">

            <thead>

              <tr>
                <th>{{ 'ROLES.CONTENT.DATATABLE.CODE' | translate }}</th>
                <th>{{ 'ROLES.CONTENT.DATATABLE.DESIGNATION' | translate }}</th>
                <th>{{ 'ROLES.CONTENT.DATATABLE.CREATED_AT' | translate }}</th>
                <th>{{ 'ROLES.CONTENT.DATATABLE.UPDATED_AT' | translate }}</th>
                <th>{{ 'ROLES.CONTENT.DATATABLE.ACTIONS' | translate }}</th>
              </tr>

            </thead>

            <tbody>

              <tr *ngIf="loading">
                <td colspan="6" class="text-center loading-data">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  {{ 'ROLES.CONTENT.DATATABLE.LOADING' | translate }}
                </td>
              </tr>

              <tr *ngIf="!loading && data && !data.data.length">
                <td colspan="6" class="text-center loading-data">
                  {{ 'ROLES.CONTENT.DATATABLE.NO_DATA' | translate }}
                </td>
              </tr>

              <ng-container *ngIf="!loading">
                <tr *ngFor="let item of data.data; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ item.code }}</td>
                  <td>{{ item.designation }}</td>
                  <td>{{ item.created_at | date:'medium' }}</td>
                  <td>{{ item.updated_at | date:'medium' }}</td>
                  <td class="actions">
                    <button class="btn btn-dark btn-sm icon-btn" type="button" (click)="initSave(saveModal, item)">
                      <i class="mdi mdi-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm icon-btn" type="button" (click)="initDelete(deleteModal, item)">
                      <i class="mdi mdi-delete"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>

            </tbody>

          </table>
          <!-- ./Roles table -->

          <!-- Pagination -->
          <ngb-pagination 
            *ngIf="!loading && data"
            [collectionSize]="data.count" 
            [pageSize]="size" 
            [page]="data.page"
            (pageChange)="loadData($event)"
            class="pagination-rounded-separated d-flex justify-content-end">
          </ngb-pagination>
          <!-- ./Pagination -->

        </div>

      </div>
      
    </div>

  </div>

</div>

<!-- Role save modal -->
<ng-template #saveModal let-modal>

  <!-- Modal header -->
  <div class="modal-header">
    <h4 class="modal-title">
      {{ selectedRole.id ? (('ROLES.CONTENT.MODAL.TITLE.UPDATE' | translate) + selectedRole.designation) : ('ROLES.CONTENT.MODAL.TITLE.CREATE' | translate) }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- ./Modal header -->

  <!-- Modal body -->
  <div class="modal-body">

    <form [formGroup]="form">

      <!-- Code field -->
      <div class="form-group">
        <label for="code">{{ 'ROLES.CONTENT.FIELDS.CODE' | translate }}</label>
        <input type="text" class="form-control" id="code" formControlName="code"
          [class.has-error]="form.get('code').dirty && form.get('code').invalid" />
      </div>
      <!-- ./Code field -->

      <!-- Code field validations container -->
      <div class="row" *ngIf="form.get('code').dirty && form.get('code').invalid">
        <div class="col-12">
          <div class="alert alert-danger alert-transparent-left" role="alert"
            *ngIf="form.get('code').dirty && form.controls['code'].hasError('required')">
            {{ 'ROLES.CONTENT.ERRORS.CODE.REQUIRED' | translate }}
          </div>
          <div class="alert alert-danger alert-transparent-left" role="alert"
            *ngIf="form.get('code').dirty && form.get('code').hasError('maxLength')">
            {{ 'ROLES.CONTENT.ERRORS.CODE.LENGTH' | translate }}
          </div>
        </div>
      </div>
      <!-- ./Code field validations container -->

      <!-- Designation field -->
      <div class="form-group">
        <label for="designation">{{ 'ROLES.CONTENT.FIELDS.DESIGNATION' | translate }}</label>
        <input type="text" class="form-control" id="designation" formControlName="designation"
          [class.has-error]="form.get('designation').dirty && form.get('designation').invalid" />
      </div>
      <!-- ./Designation field -->

      <!-- Designation field validations container -->
      <div class="row" *ngIf="form.get('designation').dirty && form.get('designation').invalid">
        <div class="col-12">
          <div class="alert alert-danger alert-transparent-left" role="alert"
            *ngIf="form.get('designation').dirty && form.controls['designation'].hasError('required')">
            {{ 'ROLES.CONTENT.ERRORS.DESIGNATION.REQUIRED' | translate }}
          </div>
          <div class="alert alert-danger alert-transparent-left" role="alert"
            *ngIf="form.get('designation').dirty && form.get('designation').hasError('maxLength')">
            {{ 'ROLES.CONTENT.ERRORS.DESIGNATION.LENGTH' | translate }}
          </div>
        </div>
      </div>
      <!-- ./Designation field validations container -->

    </form>

  </div>
  <!-- ./Modal body -->

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save(modal)"
      [disabled]="form.invalid || savingRole">{{ 'ROLES.CONTENT.BUTTONS.SAVE' | translate }}</button>
  </div>
  <!-- ./Modal footer -->

</ng-template>
<!-- ./Role save modal -->

<!-- Role delete confirmation modal -->
<ng-template #deleteModal let-modal>

  <!-- Modal header -->
  <div class="modal-header">
    <h4 class="modal-title">{{ 'ROLES.CONTENT.MODAL.TITLE.DELETE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- ./Modal header -->

  <!-- Modal body -->
  <div class="modal-body">
    <p>{{ 'ROLES.CONTENT.MODAL.DESCRIPTION.DELETE' | translate }}</p>
  </div>
  <!-- ./Modal body -->

  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" [disabled]="deletingRole"
      (click)="delete(modal)">{{ 'ROLES.CONTENT.BUTTONS.DELETE' | translate }}</button>
  </div>
  <!-- ./Modal footer -->

</ng-template>
<!-- ./Role delete confirmation modal -->