<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/avatar.png" [alt]="jwtHelper.name()" *ngIf="!jwtHelper.picture()">
            <img [src]="jwtHelper.picture() + '?v=' + pictureVersion" [alt]="jwtHelper.name()" *ngIf="jwtHelper.picture()">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{ jwtHelper.name() }}</p>
            <div>
              <small class="designation text-muted">{{ jwtHelper.email() }}</small>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-item-header">
      <span class="menu-title">Security</span>
    </li>
    <li class="nav-item">
      <a *ngIf="hasRole('ROLE_USERS')" class="nav-link" [routerLink]="['/security/users']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account"></i>
        <span class="menu-title">Manage users</span>
      </a>
    </li>
    <li class="nav-item">
      <a *ngIf="hasRole('ROLE_PROFILES')" class="nav-link" [routerLink]="['/security/profiles']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-security"></i>
        <span class="menu-title">Manage profiles</span>
      </a>
    </li>
    <li class="nav-item">
      <a *ngIf="hasRole('ROLE_ROLES')" class="nav-link" [routerLink]="['/security/roles']" routerLinkActive="active">
        <i class="menu-icon mdi mdi-security-network"></i>
        <span class="menu-title">Manage roles</span>
      </a>
    </li>
  </ul>
</nav>
