<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left"><i class="mdi mdi-account text-primary icon-lg"></i></div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Total users</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">
                                <ng-container *ngIf="usersStatistics === null">
                                    <mat-spinner [diameter]="20"></mat-spinner>
                                </ng-container>
                                <ng-container *ngIf="usersStatistics !== null">
                                    {{ usersStatistics }}
                                </ng-container>
                            </h3>
                        </div>
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0"><i aria-hidden="true" class="mdi mdi-alert-octagon mr-1"></i> The total number of users</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left"><i class="mdi mdi-security text-danger icon-lg"></i></div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Total profiles</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">
                                <ng-container *ngIf="profilesStatistics === null">
                                    <mat-spinner [diameter]="20"></mat-spinner>
                                </ng-container>
                                <ng-container *ngIf="profilesStatistics !== null">
                                    {{ profilesStatistics }}
                                </ng-container>
                            </h3>
                        </div>
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0"><i aria-hidden="true" class="mdi mdi-alert-octagon mr-1"></i> The total number of profiles</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left"><i class="mdi mdi-security-network text-warning icon-lg"></i></div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Total roles</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">
                                <ng-container *ngIf="rolesStatistics === null">
                                    <mat-spinner [diameter]="20"></mat-spinner>
                                </ng-container>
                                <ng-container *ngIf="rolesStatistics !== null">
                                    {{ rolesStatistics }}
                                </ng-container>
                            </h3>
                        </div>
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0"><i aria-hidden="true" class="mdi mdi-alert-octagon mr-1"></i>
                    The total number of roles </p>
            </div>
        </div>
    </div>
</div>