<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
      <img src="assets/images/logo.svg" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini" href="index.html">
      <img src="assets/images/logo-mini.svg" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown d-none d-xl-inline-block" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="UserDropdown" ngbDropdownToggle>
          <span class="profile-text">Hello, {{ jwtHelper.name() }} !</span>
          <img class="img-xs rounded-circle" src="assets/images/faces/avatar.png" [alt]="jwtHelper.name()" *ngIf="!jwtHelper.picture()">
          <img class="img-xs rounded-circle" [src]="jwtHelper.picture() + '?v=' + pictureVersion" [alt]="jwtHelper.name()" *ngIf="jwtHelper.picture()">
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" ngbDropdownMenu aria-labelledby="UserDropdown">
          <a class="dropdown-item mt-2">
            <i class="fa fa-cogs"></i> Account settings
          </a>
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-sign-out"></i> Sign Out
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
